
    <div class="header-wrapper">
        <div class="container-fluid plr--100 plr_lg--30 plr_md--30 plr_sm--10">
            <div class="row align-items-center">
                <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-8 header-left">
                    <div class="logo">
                        <a href="home-01.html">
                            <svg width="281px" height="60px" viewBox="0 0 281 60" version="1.1">
                                <!-- Generator: Sketch 60.1 (88133) - https://sketch.com -->
                                <title>Logo</title>
                                <desc>Created with Sketch.</desc>
                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-315.000000, -40.000000)">
                                        <g>
                                            <g id="logo" transform="translate(315.000000, 40.000000)">
                                                <text id="Keystroke-Startup-la" font-family="DMSans-Bold, DM Sans" font-size="20" font-weight="bold" fill="#000248">
                                                    <tspan x="75" y="24">Keystroke</tspan>
                                                    <tspan x="175.14" y="24.5001221" font-family="DMSans-Regular, DM Sans" font-weight="normal"></tspan>
                                                    <tspan x="76.16" y="49.5001221" font-family="DMSans-Regular, DM Sans" font-size="18" font-weight="normal">Startup template</tspan>
                                                </text>
                                                <g id="Favicon">
                                                    <rect id="Base" fill="#702FFF" x="0" y="0" width="60" height="60" rx="14"></rect>
                                                    <g id="Group-3" transform="translate(15.000000, 11.000000)">
                                                        <circle id="icon-oval-lg" class="icon-oval-lg" stroke="#FFFFFF" stroke-width="7" cx="15" cy="15" r="11.5"></circle>
                                                        <circle id="icon-oval-sm" class="icon-oval-sm" fill="#FFFFFF" cx="4" cy="34" r="4"></circle>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>

                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6 d-none d-lg-block">
                    <div class="mainmenu-wrapepr justify-content-center">
                        <!-- Start Mainmanu Nav -->
                        <nav class="mainmenu-nav d-none d-lg-block">
                            <ul class="mainmenu">                              
                                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Car</a>
                                    <ul class="axil-submenu">
                                        <li><a routerLink="/carAdd">Car Add</a></li>
                                       
                                    </ul>
                                </li>
                                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Brand</a>
                                    <ul class="axil-submenu">
                                        <li><a routerLink="/brandAdd">Brand Add</a></li>
                                       
                                    </ul>
                                </li>
                                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Color</a>
                                    <ul class="axil-submenu">
                                        <li><a routerLink="/colorAdd">Color Add</a></li>
                                       
                                    </ul>
                                </li>
                                <app-login-navbar></app-login-navbar>
                            </ul>
                        </nav>
                        <!-- End Mainmanu Nav -->
                    </div>
                </div>
                <div class="col-lg-2 col-xl-3 col-md-6 col-sm-6 col-4 header-right">

                    <!-- Start Header Extra  -->
                    <div class="axil-header-extra d-flex align-items-center justify-content-end">
                       
                        <!-- Start Menu Bar  -->
                        <div class="ax-menubar popup-navigation-activation d-block d-lg-none ml_sm--20 ml_md--20">
                            <div>
                                <i></i>
                            </div>
                        </div>
                        <!-- End Menu Bar  -->                   
                    </div>
                    <!-- End Header Extra  -->

                </div>
            </div>
        </div>
    </div>
 <!-- Start Popup Mobile Menu -->
 <div class="popup-mobile-manu">
    <div class="inner">
        <div class="mobileheader">
            <div class="logo">
                <a href="home-01.html">
                    <img src="assets/images/logo/keystoke.svg" alt="Logo images">
                </a>
            </div>
            <a class="close-menu" href="#"></a>
        </div>
        <app-login-navbar></app-login-navbar>
        <div class="menu-item">
            <ul class="mainmenu-item">
                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Car</a>
                    <ul class="axil-submenu">
                        <li><a routerLink="/carAdd">Car Add</a></li>
                       
                    </ul>
                </li>
                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Brand</a>
                    <ul class="axil-submenu">
                        <li><a routerLink="/brandAdd">Brand Add</a></li>
                       
                    </ul>
                </li>
                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Color</a>
                    <ul class="axil-submenu">
                        <li><a routerLink="/colorAdd">Color Add</a></li>
                       
                    </ul>
                </li>
                <app-login-navbar></app-login-navbar>
            </ul>
        </div>

    </div>
</div>
<!-- End Popup Mobile Menu -->
 <!-- Start Popup Mobile Menu -->
 <div class="popup-mobile-manu">
    <div class="inner">
        <div class="mobileheader">
            <div class="logo">
                <a href="home-01.html">
                    <img src="assets/images/logo/keystoke.svg" alt="Logo images">
                </a>
            </div>
            <a class="close-menu"></a>
        </div>
        
        <div  class="menu-item">
            <ul class="mainmenu-item">
                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Car</a>
                    <ul class="axil-submenu">
                        <li><a routerLink="/carAdd">Car Add</a></li>
                       
                    </ul>
                </li>
                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Brand</a>
                    <ul class="axil-submenu">
                        <li><a routerLink="/brandAdd">Brand Add</a></li>
                       
                    </ul>
                </li>
                <li *ngIf="tokenDecord.roles[0]==='admin'" class="has-dropdown"><a >Color</a>
                    <ul class="axil-submenu">
                        <li><a routerLink="/colorAdd">Color Add</a></li>
                       
                    </ul>
                </li>
                <app-login-navbar></app-login-navbar>
            </ul>
        </div>

    </div>
</div>
<!-- End Popup Mobile Menu -->
